#root {
  max-width: 1000px;
  min-width: 400px;
  background-color: antiquewhite;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  background-image: url("/public/background.png");
  background-repeat: repeat-x;
  background-size: 300px;
  padding: 5;
}

header h1 {
  margin: 0;
  padding: 1rem;
  text-align: left;
}

input[type="date"] {
  margin: 0;
  font-size: 1rem;
}

input[type="text"] {
  font-size: 1rem;
}

input[type="checkbox"] {
  margin: 0;
  width: 1.5rem;
  height: 1.5rem;
}

textarea {
  width: 100%;
  font-size: 1rem;
  padding: 0.2rem;
  box-sizing: border-box;
  resize: none;
}

button {
  font-size: 1rem;
}

.user {
  margin: auto 1rem;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.user-icon {
  display: flex;
}

.user-icon p {
  margin: auto 1rem;
}

.people-icon {
  width: 5rem;
  height: 5rem;
}

.login {
  display: none;
  position: absolute;
  right: 0;
  left: auto;
  background-color: aquamarine;
  width: 200px;
  padding: 0.5rem;
  margin: 0;
}

.user:hover .login {
  display: block;
}

.login-input {
  display: flex;
  justify-content: space-between;
}

.login-input input {
  width: 95%;
}

.login button {
  width: 50%;
  padding: 0%;
}

.login-sub {
  display: flex;
  justify-content: center;
}

.login-sub p {
  margin: 0 auto;
}

.menu-bar {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: bisque;
  align-content: stretch;
}

.menu-bar * {
  flex: 0 0 auto;
  height: 100%;
  padding: 1rem;
  margin: 0;
  color: black;
  text-decoration: none;
}

.active-menu {
  background-color: pink;
}

.main {
  margin: 0 auto;
  padding: 0 1rem;
  overflow: auto;
}

.ranking-table {
  margin: 0;
  width: 100%;
  border-spacing: 1rem;
  border-collapse: collapse;
}

.ranking-table p {
  margin: 0.1rem 0;
}

.ranking-table,
.ranking-table th,
.ranking-table td {
  text-align: left;
  padding: 1rem;
  border: 0.1rem solid;
}

.table {
  padding: 0 1rem;
}

.table p {
  margin: 0;
}

.table-row {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid;
}

.table-row .table-user {
  flex: 1;
  font-weight: bolder;
}

.table-row .table-data {
  flex: 4;
  text-align: right;
  margin-right: 1rem;
}

.table-row .table-goal {
  flex: 4;
}

.table-row .table-goal table {
  border-collapse: collapse;
}

.table-row .table-goal th {
  padding: 0;
  padding-right: 1rem;
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
}

.table-row .goal-name {
  flex: 1;
}

.table-row .goal-check {
  flex: 1;
  font-weight: bold;
}

.submit-row {
  display: flex;
  padding: 10px 0;
  justify-content: right;
}

.select-month {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.select-month * {
  margin: 0.5rem 0;
}

.record-day {
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 0;
  margin: 0;
  border-bottom: 1px groove;
}

.record-day p {
  flex: 1;
  margin: 0;
  font-weight: bold;
}

.record-day div {
  display: block;
  flex: 3;
}